.post-cards-full{
    display: none;
    transition: all ease 0.9s;
}

.post-cards-full p{
    color: black;
}

.post-cards{
    min-height: 50vh;
    display: flex;
    align-items: flex-end;
    position: relative;
    border-radius: 2vh;
}

.post-cards-body{
    width: 100%;
    padding: 4vh;
    color: white;
    background: linear-gradient(to top, black, transparent);
    border-radius: 2vh;
    transition: all 0.5s;
    height: 30vh;
}

.post-cards-header{
    padding-block: 2vh;
}

.post-cards:hover > .post-cards-body{
    color: black;
    background: rgba(176, 224, 230);
    height: 50vh;
}

.post-cards:hover > .post-cards-body .post-cards-full{
    display: block;
}

.post-cards-title{
    padding-block: 2vh;
}

.post-cards-full-footer{
    display: flex;
    justify-content: space-between;
    color: black;
}

.author a{
    color: black;
}