.app {
  text-align: center;
  font-family: 'Varela Round', sans-serif;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
}

.content-wrap{
  flex-grow: 1;
  background-color: rgba(59,130,246,.05);
}
